# Ignore any library object.
lib
*.so

# Ignore any binary object.
bin
*.o

# Ignore ctags.
.tags

# Ignore PUMAS extensions
docs
materials
pages

# Ignore temporary build(s)
build*
!.github/workflows/build*

# Ignore TURTLE files
include/turtle.h

# Ignore temporary material data for the examples
examples/data/air.txt
examples/data/standard_rock.txt
examples/data/water.txt
examples/data/materials.pumas
