# Ignore any library object.
lib
*.so

# Ignore any binary object.
bin
*.o

# Ignore ctags.
.tags

# Ignore PUMAS extensions
docs
materials
pages
wiki

# Ignore temporary build(s)
build*
!.github/workflows/build*

# Ignore TURTLE files
include/turtle.h
